services:
  postgres:
    container_name: postgres
    image: postgres:18.0-alpine3.22
    environment:
      POSTGRES_DB: doc_submission_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres -d doc_submission_db" ]
      interval: 8s
      timeout: 5s
      retries: 5
    ports:
      - '5431:5432'
    volumes:
      - postgres_data-sare:/var/lib/postgresql/data/
    networks:
      - backend

  rabbitmq:
    container_name: rabbitmq
    image: rabbitmq:4.1.4-management-alpine
    environment:
      RABBITMQ_DEFAULT_USER: rabbit
      RABBITMQ_DEFAULT_PASS: rabbit
    healthcheck:
      # https://www.rabbitmq.com/docs/monitoring#stage-3
      test: rabbitmq-diagnostics --quiet check_running && rabbitmq-diagnostics --quiet check_local_alarms
      interval: 5s
      timeout: 5s
      retries: 5
    ports:
      - '5672:5672'
      - '15672:15672'
    networks:
      - backend

  jms-app:
    container_name: jms-app
    build:
      context: ./jms-app
      dockerfile: Dockerfile
      tags:
        - jms-app:1.0.0
    environment:
      THC_PATH: /actuator/health
      THC_PORT: 8020
      TZ: Europe/Prague
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/doc_submission_db
    depends_on:
      postgres:
        condition: service_healthy
    healthcheck:
      test: [ "CMD-SHELL", "wget -T5 -qO- http://localhost:8080/actuator/health | grep UP || exit 1" ]
      start_period: 8s
      timeout: 5s
      retries: 5
    ports:
      - "8080:8080"
    networks:
      - backend

  rabbitmq-app:
    container_name: rabbitmq-app
    image: rabbitmq-app:1.0.0
    pull_policy: never
    environment:
      THC_PATH: /actuator/health
      THC_PORT: 8020
      TZ: Europe/Prague
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/doc_submission_db
      SPRING_RABBITMQ_HOST: rabbitmq
    depends_on:
      postgres:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "/workspace/health-check" ]
      start_period: 8s
      timeout: 5s
      retries: 5
    ports:
      - "8020:8020"
    networks:
      - backend

  synchronous-app:
    container_name: synchronous-app
    image: synchronous-app:1.0.0
    pull_policy: never
    environment:
      THC_PATH: /actuator/health
      THC_PORT: 8010
      TZ: Europe/Prague
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/doc_submission_db
    depends_on:
      postgres:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "/workspace/health-check" ]
      start_period: 8s
      timeout: 5s
      retries: 5
    ports:
      - "8010:8010"
    networks:
      - backend

  # ----- Observability -----

  elasticsearch-sare:
    image: docker.elastic.co/elasticsearch/elasticsearch:9.2.0
    container_name: elasticsearch-sare
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - xpack.security.enrollment.enabled=false
    ports:
      - "9200:9200"
      - "9300:9300"
    volumes:
      - es_data-sare:/usr/share/elasticsearch/data
    networks:
      - backend

  kibana-sare:
    image: docker.elastic.co/kibana/kibana:9.2.0
    container_name: kibana-sare
    environment:
      ELASTICSEARCH_HOSTS: http://elasticsearch-sare:9200
      XPACK_SECURITY_ENABLED: false
    depends_on:
      - elasticsearch-sare
    ports:
      - "5601:5601"
    networks:
      - backend

networks:
  backend:

volumes:
  postgres_data-sare:
  es_data-sare: